<!-- <ul>
    <li> temporary todo list A</li>
</ul> -->

<ul>
        {% for todo_item in all_items %}
            <li>{{todo_item.content}}
                <form action="/deleteTodo/{{todo_item.id}}" 
                    style="display: inline;"
                    method="post"> {%csrf_token%}
                    <input type="submit" value="Delete"/>
                </form>
    
                <form action="/change/{{todo_item.id}}"
                    style="display: inline;"
                    method="post"> {%csrf_token%}
                    <input type="text" name="changed"/>
                    <input type="submit" value="Change"/>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    <form action="/addTodo/" method="post"> {%csrf_token%}
        <input type="text" name="content"/>
        <input type="submit" name="Add"/>
    </form>